.col {
  background: gray;
  border: medium gray;
}

.row{
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee8d5;
  background: white;
}

.team {
  margin-top: 16px;
  border-bottom: 1px solid #eee8d5;
  text-align: left;

}

.button-inner {
  justify-content: flex-start;
}