<ion-header>
  <ion-toolbar color="dark">
    <ion-back-button color="light"></ion-back-button>
    <ion-title>Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="dark">
    <ion-card-header>
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-card-title>
        {{ firstname }} {{ lastname }} ({{ number }})
      </ion-card-title>
      <ion-card-subtitle>
        {{ position }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-item *ngFor="let field of bball_schema_props; let i = index">
      <ion-label>{{field}}: {{bball_schema_vals[i]}}</ion-label>
    </ion-item>
  </ion-card>


</ion-content>
