<ion-header>
  <ion-toolbar color="dark">
    <ion-button no-padding fill="clear" color="light" [routerLink]="['/games']">
      <ion-icon name="arrow-back" size="large"></ion-icon>
    </ion-button>
    <ion-title>{{ away.name }} @ {{ home.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="dark">
    <ion-card-header (click)="selectStat(home.ID, home.stat)">
      <ion-card-subtitle>{{date.slice(0,10)}}</ion-card-subtitle>
      <ion-card-title>
        {{home.name}}<ion-icon name="arrow-forward" float-right size="large"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>home</ion-card-subtitle>
    </ion-card-header>
    <ion-item color="light" *ngFor="let athlete of home.athletes" (click)="selectStat(id, athlete._id)">
      <ion-label>{{athlete.firstname}} {{athlete.lastname}} ({{athlete.number}})</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="arrow-forward" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header (click)="selectStat(away.ID, away.stat)">
      <ion-card-subtitle>{{date.slice(0,10)}}</ion-card-subtitle>
      <ion-card-title>
        {{away.name}}<ion-icon name="arrow-forward" float-right size="large"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle>away</ion-card-subtitle>
    </ion-card-header>
    <ion-item color="light" *ngFor="let athlete of away.athletes" (click)="selectStat(id, athlete._id)">
      <ion-label>{{athlete.firstname}} {{athlete.lastname}} ({{athlete.number}})</ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon name="arrow-forward" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
