<ion-header>
  <ion-toolbar color="dark">
    <ion-title>New Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (submit)="onGameSubmit()">
    <!-- First Name Input -->
    <ion-item [ngClass]="{'has-error': form.controls['date'].errors && form.controls['date'].dirty, 'has-success': form.controls['date'].errors}">
      <ion-label>Date</ion-label>
      <ion-datetime class="form-control" formControlName="date" displayFormat="MM/DD/YYYY" [(ngModel)]="dateDefault"></ion-datetime>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Active Players</ion-label>
    </ion-item>

    <ion-list>
      <ion-grid>
        <ion-row class="row" style="font-weight: bold;">
          <ion-col size="2">Pos</ion-col>
          <ion-col size="5">Name</ion-col>
          <ion-col size="3">#</ion-col>
          <ion-col>Active</ion-col>
        </ion-row>
        <ion-row *ngFor="let athlete of athletes" class="row">
          <ion-col size="2">
            {{ athlete.position }}
          </ion-col>
          <ion-col size="5">
            {{ athlete.lastname }}
          </ion-col>
          <ion-col size="3">
            {{ athlete.number }}
          </ion-col>
          <ion-col>
            <ion-toggle (ionChange)="addActive(athlete._id)" disabled="{{ disabled }}"></ion-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-item [ngClass]="{'has-error': form.controls['home'].errors && form.controls['home'].dirty, 'has-success': form.controls['home'].errors}">
      <ion-label>Home Team</ion-label>
      <ion-select class="form-control" formControlName="home">
        <ion-select-option *ngFor="let organization of organizations"
                           value="{{ organization._id }}">
          <ion-item>
            {{ organization.organizationname }}
          </ion-item>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item padding-bottom [ngClass]="{'has-error': form.controls['away'].errors && form.controls['away'].dirty, 'has-success': form.controls['away'].errors}">
      <ion-label>Away Team</ion-label>
      <ion-select class="form-control" formControlName="away">
        <ion-select-option *ngFor="let organization of organizations"
                           value="{{ organization._id }}">
          <ion-item>
            {{ organization.organizationname }}
          </ion-item>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Submit Input -->
    <ion-button color="dark" type="submit" size="full" class="btn btn-primary">Save</ion-button>

  </form>
  <ion-button size="full" (click)="cancelGame()">Cancel</ion-button>
</ion-content>
