<ion-header>
  <ion-toolbar>
    <ion-menu-button color="dark" slot="start"></ion-menu-button>
    <ion-title>
      Court
    </ion-title>
    <ion-button (click)="createGame()" slot="end">+ Game</ion-button>
  </ion-toolbar>

</ion-header>


<div class="drop1" [class.dropOverActive2]="dropOverActive2" mwlDroppable
     (dragEnter)="dropOverActive2 = true; dropOverActive3 = false"
     (dragLeave)="dropOverActive2 = false; dropOverActive3 = true" (drop)="onDrop2($event)"></div>
<div class="drop2" [class.dropOverActive2]="dropOverActive2" mwlDroppable
     (dragEnter)="dropOverActive2 = true; dropOverActive3 = false"
     (dragLeave)="dropOverActive2 = false; dropOverActive3 = true" (drop)="onDrop2($event)"></div>
<div class="drop3" [class.dropOverActive3]="dropOverActive3" mwlDroppable
     (dragEnter)="dropOverActive3 = true"
     (dragLeave)="dropOverActive3 = false" (drop)="onDrop3($event)"></div>


<app-athlete-fab [id]="message" class="athlete1"></app-athlete-fab>
<!--
<app-athlete-fab class="athlete2"></app-athlete-fab>
<app-athlete-fab class="athlete3"></app-athlete-fab>
<app-athlete-fab class="athlete4"></app-athlete-fab>
<app-athlete-fab class="athlete5"></app-athlete-fab>
-->

<ion-item>
    {{ message }}
</ion-item>