.athlete1 {
  margin-top: 10vh;
  margin-left: 3vw;
  z-index:2;
}
.athlete2 {
  //top: 15vh;
  margin-left: 23vw;
  z-index:2;
}
.athlete3 {
  margin-left: 43vw;
  z-index:2;
}
.athlete4 {
  // top: -57.5vh;
  margin-left: 63vw;
  z-index:2;
}
.athlete5 {
  // top: -57.5vh;
  margin-left: 83vw;
  z-index:2; }

.drop1 {
  height: 9vh;
  width: 88vw;
  margin-left: 6vw;
  margin-right: 6vw;
  background-color: darkslategray;
  bottom: 1vh;
  z-index: 1;
}
.drop2 {
  height: 22vh;
  width: 88vw;
  margin-left: 6vw;
  margin-right: 6vw;
  bottom: 2vh;
  border-bottom-right-radius: 100vw;
  border-bottom-left-radius: 100vw;
  background-color: darkslategray;
  z-index: 1;
}
.drop3 {
  height: 44vh;
  bottom: 34vh;
  background-color: lightslategray;
  z-index: 0;
}

[mwlDraggable] {
  position: relative;
  z-index: 1;
  float: left;
}
[mwlDroppable] {
  //background-color: green;
  position: relative;
  //border-radius: 50%;
  //height: 50vh;
  //bottom: -40vh;
}
[mwlDraggable],[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropOverActive2 {
  background-color: midnightblue;
}
.dropOverActive3 {
  background-color: midnightblue;
}