.athlete0 {
  //top: 20vh;
  margin-left: 3vw;
  z-index: 2;
}
.athlete1 {
  //top: 15vh;
  margin-left: 23vw;
  z-index:2;
}
.athlete2 {
  margin-left: 43vw;
  z-index:2;
}
.athlete3 {
  // top: -57.5vh;
  margin-left: 63vw;
  z-index:2;
}
.athlete4 {
  // top: -57.5vh;
  margin-left: 83vw;
  z-index:2; }

.drop1 {
  //position: absolute;
  height: 66vh;
  width: 88vw;
  //top: 1px;
  //left: 1px;
  clip-path: ellipse(44vw 33vh at 50% 50%);
  margin-left: 6vw;
  margin-right: 6vw;
  background-color: black;
  //bottom: 58vh;
  z-index: 2;
}
.drop2 {
  height: 68vh;
  width: 76vw;
  clip-path: ellipse(48vw 33vh at 50% 50%);
  margin-left: 12vw;
  margin-right: 12vw;

  bottom: 62vh;
  opacity: .2;
  background-color: darkslategray;
  z-index: 1;
}
.drop3 {
  height: 50vh;
  width: 100vw;
  bottom: 43vh;
  opacity: .2;
  background-color: lightslategray;
  z-index: 0;
}
.button {
  margin: 0;
  padding: 0;
}

[mwlDraggable] {
  position: relative;
  z-index: 1;
  float: left;
}
[mwlDroppable] {
  //background-color: green;
  position: fixed;
  //border-radius: 50%;
  //height: 50vh;
  //bottom: -40vh;
}
[mwlDraggable],[mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropOverActive2 {
  background-color: black;
  opacity: .4;
}
.dropOverActive3 {
  background-color: black;
  opacity: .4;
}

ion-content {
  //height: 50vh;
  //top: 60vh;
  z-index: 3;
}

.buttons {
  position: absolute;
  //top: 93.9vh;
  bottom: 0;
  z-index: 3;
}

//todo figure out sizing and placement
.img {
  top: 8vh;
  right: 0;
  //bottom: 20vh;
  z-index: 0;
  position: absolute;
}

.back {
  position: absolute;
  top: 57vh;
  width: 100vw;
  height: 50vh;
  background-color: whitesmoke;
  z-index: 2;
}

.footer-icon {
  position: absolute;
  left: 0;
  padding-left: 4vw;
}

ion-card-header {
  padding-top: 1.5vh;
  padding-bottom: 0vh;
}

ion-card {
  margin-top: 5vh;
}