.fab {
  width: 20px !important;
  height: 20px !important;
}

ion-fab {
  margin-top: 0vh;
}

.normalToast {
  .toast-message {
    border-radius: 1rem !important;
    //background: #222,
    background-color: #222222
  }
}


